# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Bar chart/node_modules
Bar chart/.pnp
Bar chart/.pnp.js
Bar chart/.idea/*

World map/node_modules
World map/.pnp
World map/.pnp.js
World map/.idea/*

.idea/*

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
